{% extends 'projects/base.html' %}
{% load static %}

{% block head-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link href="{% static 'css/viewCat.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}
    {{ catName.name }}
{% endblock %}

{% block content %}
  <div class="row">
        {% for p in catName.project_set.all %}
            <div class="col-md-3 mt-4">
                <div class="card cardDes">
                    <img src="{{ p.image.url }}" class="card-img-top projImg">
                    <div class="card-body">
                      <h5 class="card-title">{{p.title }}</h5>
                      <p class="card-text desc">{{p.details }}</p>
                      <a href="{% url 'show_proj' p.id %}" class="btn btn-primary"> Show Details </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}